@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html, body {height: 100%;}

div#wrapper {
	/*background-image: url("../img/bg_content.png");*/
	background-image: url("http://www.hdwallpapers.in/walls/3d_bars-wide.jpg");
	min-height: 100%;
}

header {
	position:relative;
	height: 50px;
}

#logo2 {
	text-indent: -9999px;
	display: block;
	height: 75px;
	width: 378px;
	background: url("../img/logo_w2p.png") left center no-repeat;	
}

/*
 * Contenu principal
 */
 
div.page-header {
	 border-bottom: 1px solid #eeeeee;
}
 
div#content {
	position:relative;
	overflow:auto;
	background-color: #FFFFFF;
	padding: 100px 30px;
	box-shadow: 1px 1px 24px #333333;
} 

[class*="span"] {
    float: left;
    min-height: 1px;
}

.spanSubscription {
	width: 49.5%;
	margin-right: 1%;
}

.spanCreateEvent {
	width: 49.5%;
}

/*
 * Subscription
 */
div#subscription .checkbox-inline {
	width: 200px;
}


/*
 * Bas de page
 */
footer {
	position: relative;
	height: 50px;
	margin-top: -50px;
	clear:both;
}

a.univ_nantes2 {
	text-indent: -9999px;
	display:block;
	background: url("../img/logo_univ_nantes.png") no-repeat center center;
	height: 39px;
	width: 71px;
	margin:2px;
}

div#authors li {
	display:inline;
	list-style: none;
	padding: 0 20px;
	border-right: 2px white solid;
}

div#authors li:last-child {
	border-right: none;
}