@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-width: 1000px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#wrapper {
	background-image: url("img/bg_content.png");
	min-height: 100%;
}

/*
 * Haut de page
 */
div#header {
	position:relative;
	background-color: #303030;
	height: 100px;
	box-shadow: 0px 5px 20px #888888;
	padding:10px;
}

h1#logo a {
	text-indent: -9999px;
	display: block;
	height: 100px;
	width: 540px;
	background: url("img/logo_w2p.png") right center no-repeat;
}

div#auth {
	font-size: small;
	padding: 5px;
	position:absolute;
	right:20px;
	top:20px;
	width:400px;
	text-align: right;
	color: white;
}

div#auth a {
	color: white;
}
/*
 * Contenu principal
 */
div#content {
	position:relative;
	padding:20px;
	overflow:auto;
	padding-bottom: 65px;
} 

div.underConstruction {
	position:relative;
	min-height: 361px;
	background:url("img/website_under_construction.png") no-repeat center center;
}

div#events li {
	display:block;
	margin:10px;
}

div#events p {
	font-size:10pt;
}

div#events h3 {
	font-size:12pt;
	margin-left:20px;
}

/*
 * Bas de page
 */
div#footer {
	position: relative;
	background-color: #303030;
	color: #FFFFFF;
	box-shadow: 0px -5px 20px #888888;
	height: 45px;
	margin-top: -45px;
	height: 45px;
	clear:both;
}

a.univ_nantes {
	position: absolute;
	left:10px;
	text-indent: -9999px;
	display:block;
	background: url("img/logo_univ_nantes.png") no-repeat center center;
	height: 39px;
	width: 71px;
	margin:2px;
}

div#authors {
	position: absolute;
	right: 10px;
	margin:10px;
	height:25px;
}

div#authors span {
	font-size: small;
	font-weight: bold;
}

div#authors ul {
	display: inline;
}

div#authors li {
	font-size: small;
	display:inline;
	list-style: none;
	padding: 0 20px;
	border-right: 2px white solid;
}

div#authors li:last-child {
	border-right: none;
}