@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#wrapper {
	background-image: url("img/bg_content.png");
}

#logo a {
	text-indent: -9999px;
	display: block;
	height: 100px;
	width: 800px;
	background-image: url("img/logo_w2p.png");
}

#header {
	background-color: #303030;
	height: 100px;
	box-shadow: 0px 5px 20px #888888;
	padding:10px;
}

#content {
	height: 600px;
	padding:20px;
	background:url("img/website_under_construction.png") no-repeat center center;
}

#footer {
	position: relative;
	background-color: #303030;
	color: #FFFFFF;
	box-shadow: 0px -5px 20px #888888;
	padding: 10px;
	height: 25px;
}

#authors {
	position: absolute;
	right: 10px;
}

#authors span {
	font-size: small;
	font-weight: bold;
}

#authors ul {
	display: inline;
}

#authors li {
	font-size: small;
	display:inline;
	list-style: none;
	padding: 0 20px;
	border-right: 2px white solid;
}

#authors li:last-child {
	border-right: none;
}