<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<display-name>
		Want2Play
	</display-name>
	
	<description>
		Réseau social de rencontre sportive.
	</description>

	<context-param>
    	<description>Titre de l'application</description>
    	<param-name>applicationTitle</param-name>
    	<param-value>I Want 2 Play !</param-value>
    </context-param>

	<listener>
        <description>ServletContextListener</description>
        <listener-class>com.want2play.servlets.ContextListener</listener-class>
    </listener>
    
    <filter>
    	<description>Permet d'obtenir des informations sur le status de l'utilisateur.</description>
        <filter-name>InfoHeaderUser</filter-name>
        <filter-class>com.want2play.filters.InfoHeaderUser</filter-class>
	</filter>
	<filter-mapping>
        	<filter-name>InfoHeaderUser</filter-name>
        	<url-pattern>/*</url-pattern>
	</filter-mapping>
    
    <!-- Servlets -->

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.want2play.servlets.IndexServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.want2play.servlets.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.want2play.servlets.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SubscriptionServlet</servlet-name>
		<servlet-class>com.want2play.servlets.SubscriptionServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SubscriptionSaveServlet</servlet-name>
		<servlet-class>com.want2play.servlets.SubscriptionSaveServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EventServlet</servlet-name>
		<servlet-class>com.want2play.servlets.EventServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ParticipationServlet</servlet-name>
		<servlet-class>com.want2play.servlets.ParticipationServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateEventServlet</servlet-name>
		<servlet-class>com.want2play.servlets.CreateEventServlet</servlet-class>
	</servlet>
	
	<!-- Mapping -->
	
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SubscriptionServlet</servlet-name>
		<url-pattern>/Subscription</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SubscriptionSaveServlet</servlet-name>
		<url-pattern>/SubscriptionSave</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EventServlet</servlet-name>
		<url-pattern>/Event</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ParticipationServlet</servlet-name>
		<url-pattern>/Participation</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreateEventServlet</servlet-name>
		<url-pattern>/CreateEvent</url-pattern>
	</servlet-mapping>
	
</web-app>